 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roborto' , sans-serif;
 }
h1{
    text-align: center;
}

h2 {
    text-align: left
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    width: 30vw;
    height: 300px;
    position: center;
    background-color: lightgrey;
    padding: 10px;
    border: 2px solid black;
    margin: 10px;
    

}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.pass{
    padding: 2px;
    border: 2px solid black;
    margin: 2px;
    justify-content: space-between ;
}
p{
    text-align: left
}
create{
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2px;
    margin: 2px;
    border: 2px;
}
footer{
    align-items: center;
    justify-content: center;
}